.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200vh;
  margin-top: -3rem;
}

.centerContainer {
  display: flex;
  position: static;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 20px;
}
