.App {
    text-align: center;
}

body {
    background-image: url("./bgHome.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
  }