.page{
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: -1rem;
    flex-grow: 1;
    
}

.page span {
    color: rgb(221, 42, 42);
    font-weight: bold;
    text-shadow: 1px 2px 1px rgb(151, 16, 16);
    align-items: last baseline;
    padding: 1rem;
    cursor: pointer;
    
}

.page p {
    color: rgb(221, 42, 42);
    background-color: transparent;
    border-radius: 4px;
}

.page button {
    background-color: transparent;
    
    cursor: pointer;
    color: rgb(221, 42, 42);
    border-left: none;
    border-right: none;
    border-top-color: rgb(221, 42, 42);
    border-bottom-color: rgb(221, 42, 42);
    margin-left: 1rem;
    margin-right: 1rem;
    height: 2rem;
}

.currentPage {
    display: flex;
    align-items: center;
    color:rgb(221, 42, 42);
    font-size: xx-large;
    height: 2rem;
    margin: 4px;
    padding: 4px;
}