.mainContainerHome {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-block: 0.7rem;
    padding: 20px;
}

.container1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 200vh;
}

.container2 {
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin-top: -1em;
    margin-bottom: 2em;
}

.container3 {
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: stretch;
    margin-inline: 0.1em;
    margin-bottom: auto;
    margin-top: 1rem;
}
.button1{
    background-color: white;
    color: #f7630c;
    border-color: #f7630c;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    height: auto;
    width: auto;
    cursor: pointer;
    padding: 0.5rem;
    margin-bottom: 0.3rem;
}


.button2 {
    background-color: #f7630c;
    color:whitesmoke;
    font-weight: bold;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    border-color: black;
    border-radius: 2px;
    cursor: pointer;
    padding: 0.8rem 1.2rem;
    /* margin-left: 3rem; */
    height: 4rem;
    width: 15rem;

}
.button2:hover {
    background-color: rgb(221, 42, 42);
    border: solid black;
}

.button3{
    background-color: white;
    color: rgb(221, 42, 42);
    border-color: rgb(221, 42, 42);
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    height: auto;
    width: auto;
    cursor: pointer;
    padding: 0.5rem;
    margin-bottom: 0.3rem;
}
/* 
.pawsFiller {
    
    display: flex;
    justify-content: space-between;

} */