
.filters {
    display: flex;
    flex-direction: column;
    width: auto;
    flex-wrap: wrap;
    justify-content: left;
    align-items: flex-start;
    margin-top: -0.3rem;
    margin-bottom: 2rem;
    
    
 }

.containerOrder{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    
}
.containerOrder > div {
    margin-bottom: 1rem;
}

.filterContainer {
    border-bottom: 2px solid #f7630c;
    font-weight: bold;
    
  }

 .order {
    display: flex;
    flex-direction: row;
    
 }

 .order > div {
    display: flex;
    justify-content: space-between;
    margin-right: 3rem;
 }
 .order label {
    margin-right: 0.5rem;
 }
 
 